html, body, div, span, h1, h2, h3, h4, h5, h6, button, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, figure, figcaption, footer, header, nav, output, section, time, mark, audio, video, input, textarea, select {
  margin: 0;
  padding: 0;
  border: 0;
  /* inherits the browser's font properties: font-size 16px */
  font: inherit;
  /*  specifies the vertical alignment of an inline element */
  vertical-align: baseline;
  box-sizing: border-box;
  /*  specifies the height of line boxes within the element. */
  line-height: 1;
  border-radius: 0;
  /* no outline around anything */
  outline: none;
  /* inherit the color value of the parent */
  color: inherit; }

ol, ul {
  /* no bullets in lists */
  list-style: none; }

a {
  /* the color of the font for anchor tags is inherited */
  color: inherit;
  /* no underline */
  text-decoration: none; }

button {
  /* turn the cursor into a pointing finger */
  cursor: pointer;
  background-color: transparent; }

blockquote, q {
  /* no quotes */
  quotes: none; }

table {
  /* no spacing between cells*/
  border-spacing: 0;
  /*borders are collapsed - adjacent table cells share borders */
  border-collapse: collapse; }

sup {
  vertical-align: super;
  font-size: small; }

html {
  font-size: 62.5%; }
  @media screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media screen and (min-width: 131.25em) {
    html {
      font-size: 87.5%; } }
  @media screen and (min-width: 131.25em) and (min-width: 150em) {
    html {
      font-size: 93.75%; } }
  @media screen and (min-width: 168.75em) {
    html {
      font-size: 100%; } }
  @media screen and (min-width: 187.5em) {
    html {
      font-size: 112.5%; } }
  @media screen and (min-width: 206.25em) {
    html {
      font-size: 125%; } }
  @media screen and (min-width: 225em) {
    html {
      font-size: 137.5%; } }
  @media screen and (min-width: 237.5em) {
    html {
      font-size: 150%; } }
  @media screen and (min-width: 250em) {
    html {
      font-size: 157%; } }
  @media screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media screen and (max-width: 53.125em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  color: black;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3; }

img {
  max-width: 100%;
  width: auto;
  height: 100%; }

svg {
  width: 2rem;
  height: 2rem;
  fill: white; }

svg:hover {
  cursor: pointer; }

a {
  display: block; }
  a:active {
    transform: translateY(2px); }

h1, h2 {
  text-align: center;
  line-height: 1.2; }

@keyframes changeBtnBg {
  0% {
    background: linear-gradient(to top, #6e40a7, #9749de);
    background: transparent; }
  100% {
    background: linear-gradient(to top, #6e40a7, #9749de);
    opacity: 0; } }

.pageLocation {
  background-color: #ededed;
  padding: 1.5rem 0;
  font-size: 1.6rem;
  font-family: "Source Sans Pro",sans-serif; }
  .pageLocation .container {
    margin: 0 auto;
    align-items: flex-start;
    flex-flow: row;
    justify-content: flex-start; }
  .pageLocation span {
    margin: 0 0.5rem; }
  .pageLocation a:hover {
    cursor: pointer; }
  .pageLocation a:last-of-type {
    font-weight: bold; }

.btn {
  max-width: 19rem;
  padding: 1.5rem 3rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
  text-align: center;
  vertical-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer; }
  .btn--blue {
    background-color: #9570b9;
    color: white;
    box-shadow: none;
    padding: 2.5rem 3rem;
    font-size: 2rem;
    font-weight: 600; }
  .btn--green {
    background-color: #2b9a56;
    color: white;
    box-shadow: none;
    padding: 1.7rem 3.3rem;
    font-size: 2rem;
    font-weight: 500; }
  .btn--darkBlue {
    background-color: #5f2d90;
    color: white;
    padding: 2rem 0;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 600;
    max-width: 22rem; }
    @media (max-width: 900px) {
      .btn--darkBlue {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75); } }
  .btn--leftDig {
    padding: 1rem 1.5rem;
    font-family: 'Oswald' , sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 2.2rem;
    box-shadow: none;
    background-color: #2b9a56;
    color: white;
    clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%); }
  .btn--rightDig {
    clip-path: polygon(0% 0%, 90% 0, 100% 100%, 0% 100%); }

.productBox {
  width: 100%;
  height: 37rem;
  margin: 2rem 0 0;
  padding: 3.5rem 4rem;
  background-color: #eff8fb;
  display: flex;
  border: 2px dashed rgba(143, 141, 141, 0.7); }
  @media (max-width: 500px) {
    .productBox {
      flex-flow: column;
      justify-content: center;
      align-items: center;
      height: auto;
      padding: 1rem 1rem 3.5rem 1rem; } }
  .productBox > picture > img {
    margin-right: 5rem;
    mix-blend-mode: darken; }
    @media (max-width: 600px) {
      .productBox > picture > img {
        margin-right: 3rem; } }
    @media (max-width: 500px) {
      .productBox > picture > img {
        height: 31rem;
        margin: 1rem 0 2rem; } }
  @media (max-width: 500px) {
    .productBox__content {
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      align-items: center; } }
  .productBox__content .textList {
    margin-top: 0; }
  .productBox__content h2 {
    text-align: left;
    font-family: 'Anton', sans-serif;
    font-size: 2.4rem;
    color: black; }
    @media (max-width: 500px) {
      .productBox__content h2 {
        font-size: 3.6rem;
        text-align: center; } }
  .productBox__content li {
    margin: 2rem 0 !important; }
    .productBox__content li div h4 {
      margin-left: 2rem;
      line-height: 1.5; }
  .productBox__content .btn {
    margin-top: 2rem; }
    @media (max-width: 500px) {
      .productBox__content .btn {
        margin-top: 0; } }
  .productBox p {
    margin-top: 1.5rem;
    font-size: 1.55rem;
    color: black;
    line-height: 1.4; }

.product {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 95%;
  margin: 1rem 1.2%;
  padding-bottom: 1.5rem; }
  .product .btn.btn--leftDig {
    width: 85%;
    max-width: none;
    align-self: flex-end;
    padding-right: 1.5rem;
    text-align: right; }
    @media (max-width: 900px) {
      .product .btn.btn--leftDig {
        width: 87%; } }
  .product .btn--rightDig {
    text-align: left !important; }
  .product > a {
    margin-top: 1rem; }
  .product > picture img {
    margin: 1.5rem 0;
    height: 13.3rem; }
  .product__content {
    text-align: center;
    width: 90%; }
    @media (max-width: 900px) {
      .product__content {
        width: 95%; } }
    .product__content h2 {
      line-height: 1.3;
      font-weight: bold;
      font-size: 1.8rem;
      font-family: 'Oswald', sans-serif;
      color: #302e2e; }
      .product__content h2 a {
        padding: 0.4rem 0; }
        .product__content h2 a:hover {
          text-decoration: underline; }
    .product__content h3 {
      font-size: 1.6rem;
      margin-top: 0.5rem; }
    .product__content p {
      font-size: 1.4rem;
      line-height: 1.3; }
    .product__content__review {
      margin-top: 0.8rem; }
  .product__contentBig {
    width: 100%; }
    .product__contentBig h2, .product__contentBig p {
      display: flex;
      justify-content: center;
      align-items: center; }
    .product__contentBig h2 {
      height: 6rem;
      font-weight: normal;
      background-color: #e1e1e1; }
    .product__contentBig p {
      height: 10rem;
      padding: 0 1rem;
      word-wrap: break-spaces;
      overflow-scrolling: touch;
      overflow-y: auto; }
    .product__contentBig h3 {
      background-color: #e1e1e1;
      height: 3rem;
      margin: 0; }
    .product__contentBig > div {
      padding: 1rem 0 0.5rem;
      background-color: #e1e1e1;
      margin: 0; }
  .product .btn.btn--darkBlue {
    margin-top: 3rem;
    width: 100%;
    max-width: none; }

.textList {
  margin-top: 2rem; }
  .textList p {
    margin-top: 1.5rem;
    font-size: 1.55rem;
    color: black;
    line-height: 1.4; }
  .textList li {
    margin: 2rem 0 3rem; }
    .textList li:last-of-type {
      margin-bottom: 1rem; }
    .textList li img {
      min-width: 2rem;
      width: 2rem;
      min-height: 2rem;
      height: 2rem; }
    .textList li div {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .textList li div h4 {
        font-size: 1.65rem;
        font-weight: bold;
        color: #000;
        margin-left: 1rem; }

.textList2 {
  padding-left: 0.5rem; }
  .textList2 li {
    margin: 1.5rem 0; }
    .textList2 li p {
      padding-left: 2.5rem;
      margin: 0 !important;
      position: relative; }
      .textList2 li p:after {
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        border-radius: 100%;
        background-color: #016aeb;
        position: absolute;
        left: 0;
        top: 10px; }

.purchaseLink {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bbdaff;
  border: 2px dashed #5f2d90;
  padding: 0 0.2rem;
  margin: 1rem 0; }
  .purchaseLink a {
    text-decoration: underline;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.5; }

.ytFulleHeightVideo {
  margin: 1.5rem 0;
  width: 100%;
  height: 50rem;
  background-color: red; }
  @media (max-width: 650px) {
    .ytFulleHeightVideo {
      height: 40rem; } }
  @media (max-width: 500px) {
    .ytFulleHeightVideo {
      height: 31rem; } }
  @media (max-width: 400px) {
    .ytFulleHeightVideo {
      height: 23rem; } }

.productsTable {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  margin: 1rem 0;
  border-left: 1px solid #d7d7d7;
  box-shadow: 5px 5px 5px rgba(210, 210, 210, 0.75); }
  .productsTable > div {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .productsTable .w50 {
    width: 50%;
    padding-left: 1.5rem; }
    @media (max-width: 600px) {
      .productsTable .w50 {
        width: 33%;
        padding-left: 1rem; } }
  .productsTable .w25 {
    width: 25%;
    display: flex; }
    @media (max-width: 600px) {
      .productsTable .w25 {
        width: 33%; } }
  .productsTable h2, .productsTable h3, .productsTable h4 {
    text-align: left; }
  .productsTable .tableHeading {
    background-color: #efefef;
    border-bottom: 1px solid #d7d7d7; }
    .productsTable .tableHeading h2.w25 {
      padding-left: 0.3rem; }
      @media (max-width: 600px) {
        .productsTable .tableHeading h2.w25 {
          padding-left: 0;
          justify-content: center; } }
    .productsTable .tableHeading h2 {
      color: black;
      text-transform: uppercase;
      font-size: 1.8rem;
      font-weight: bold; }
  .productsTable .tableRow {
    border-bottom: 1px solid #d7d7d7; }
    .productsTable .tableRow h3, .productsTable .tableRow a {
      font-size: 1.4rem;
      font-weight: 600;
      color: black;
      font-family: 'Open Sans', sans-serif; }
    @media (max-width: 600px) {
      .productsTable .tableRow h3 {
        font-size: 1.6rem;
        line-height: 1.4; } }
    .productsTable .tableRow .rowRating {
      display: flex;
      flex-flow: row wrap; }
      @media (max-width: 600px) {
        .productsTable .tableRow .rowRating {
          justify-content: center;
          width: 33%; } }
      .productsTable .tableRow .rowRating img {
        margin: 0 0.2rem; }
    @media (max-width: 600px) {
      .productsTable .tableRow .readMore {
        width: 33%;
        justify-content: center;
        padding-right: 0.5rem; } }
    .productsTable .tableRow .readMore a {
      display: flex;
      align-items: center;
      width: auto;
      color: #9570b9; }
    .productsTable .tableRow .readMore img {
      margin-right: 1rem; }
      @media (max-width: 600px) {
        .productsTable .tableRow .readMore img {
          margin-right: 0.5rem; } }

.summaryBox {
  width: 100%;
  height: auto;
  min-height: 7rem;
  box-shadow: 5px 5px 5px rgba(210, 210, 210, 0.75);
  border-left: 1px solid #d7d7d7;
  padding: 1.5rem 2rem 2rem;
  margin: 2rem 0;
  border-top: 5px solid #5f2d90; }
  .summaryBox h4 {
    font-size: 1.65rem;
    font-weight: bold;
    color: black; }
  .summaryBox > p {
    margin-top: 1rem !important;
    font-size: 1.4rem !important;
    font-weight: 600 !important;
    line-height: 1.4 !important; }

.sideBigProduct {
  width: 95%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0; }
  .sideBigProduct a {
    margin-top: 2rem; }

.header {
  width: 100%;
  height: auto; }
  @media (max-width: 760px) {
    .header {
      width: 100%; } }
  .header .container {
    margin: 0 auto;
    height: 100%; }
  .header__top {
    width: 100%;
    height: 7rem;
    padding: 0.5rem 0;
    background-color: #5f2d90;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5); }
    .header__top .container {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      position: relative; }
    .header__top__logo {
      height: 100%;
      margin-right: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 5rem; }
      @media (max-width: 990px) {
        .header__top__logo {
          width: 22%; }
          .header__top__logo img {
            width: 100%; } }
      @media (max-width: 760px) {
        .header__top__logo {
          width: auto;
          position: relative;
          left: unset; } }
    .header__top__nav {
      width: 60%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      transform-origin: top;
      transition: all 0.3s;
      z-index: 999;
      background-color: #5f2d90; }
      @media (max-width: 990px) {
        .header__top__nav {
          width: 68%; } }
      @media (max-width: 760px) {
        .header__top__nav {
          width: 100%;
          flex-flow: column;
          justify-content: flex-start;
          align-items: flex-start;
          padding-top: 2rem;
          position: absolute;
          left: 0;
          top: 6.5rem;
          height: auto;
          background-color: #5f2d90; } }
      .header__top__nav ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 10;
        transform-origin: top;
        transition: all 0.7s;
        font-family: 'Source Sans Pro', sans-serif; }
        @media (max-width: 760px) {
          .header__top__nav ul {
            flex-flow: column;
            width: 100%; } }
        .header__top__nav ul .dropdown-content {
          display: none;
          position: absolute;
          left: 0;
          top: 100%;
          background-color: #f9f9f9;
          min-width: 150px;
          max-width: 150px;
          width: 100%;
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          z-index: 1; }
          @media (max-width: 760px) {
            .header__top__nav ul .dropdown-content {
              position: relative;
              left: unset;
              top: unset;
              min-width: 150px;
              max-width: 100%; } }
        .header__top__nav ul .dropdown-content a {
          padding: 16px;
          text-decoration: none;
          display: block;
          text-align: left;
          color: #666666;
          border-bottom: 1px solid rgba(102, 102, 102, 0.1); }
          @media (max-width: 760px) {
            .header__top__nav ul .dropdown-content a {
              color: #5f2d90;
              text-align: center;
              font-weight: bold; } }
        .header__top__nav ul .dropdown-content a:hover {
          background-color: #ddd; }
        .header__top__nav ul .dropdown:hover .dropdown-content {
          display: block; }
        .header__top__nav ul li {
          font-size: 1.8rem;
          height: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white; }
          @media (max-width: 760px) {
            .header__top__nav ul li {
              width: 100% !important;
              min-height: 6rem;
              height: auto;
              color: white;
              text-align: left;
              border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
              font-size: 2rem;
              font-weight: 500;
              display: flex;
              flex-flow: column;
              justify-content: center;
              align-items: center; } }
          .header__top__nav ul li a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            text-transform: uppercase;
            padding: 0.5rem 1rem;
            cursor: pointer; }
            @media (max-width: 950px) {
              .header__top__nav ul li a {
                padding: 0.5rem 1rem; } }
            @media (max-width: 900px) {
              .header__top__nav ul li a {
                padding: 1.3rem 0.9rem; } }
            @media (max-width: 760px) {
              .header__top__nav ul li a {
                width: 100% !important; } }
            .header__top__nav ul li a:hover, .header__top__nav ul li a:after, .header__top__nav ul li a:focus {
              color: white; }
        .header__top__nav ul .dropbtn img {
          max-width: 1.7rem;
          max-height: 0.8rem;
          margin-left: 0.4rem;
          filter: invert(100); }
          @media (max-width: 760px) {
            .header__top__nav ul .dropbtn img {
              margin-left: 1rem; } }
        .header__top__nav ul .dropbtn:after {
          display: none; }

@media (max-width: 760px) {
  .hideNav {
    transform: scaleY(0);
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding-top: 0;
    position: absolute; } }

.hamburgerMenu {
  transition: all 0.2s ease-in-out;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer; }
  .hamburgerMenu img {
    max-width: 3rem;
    max-height: 2rem;
    filter: invert(100); }

.topPopup {
  height: 4rem;
  width: 100%;
  background-color: #9570b9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  position: relative; }
  @media (max-width: 550px) {
    .topPopup {
      justify-content: flex-start;
      height: 6rem;
      padding: 0.5rem 0; } }
  .topPopup .container {
    flex-flow: row;
    justify-content: center; }
    @media (max-width: 550px) {
      .topPopup .container {
        justify-content: flex-start;
        width: 90%;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-left: 1rem; } }
    .topPopup .container p {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      line-height: 1.3; }
    .topPopup .container a {
      display: inline;
      margin: 0 0.5rem;
      color: #fed428; }
      @media (max-width: 550px) {
        .topPopup .container a {
          margin: 0; } }
  .topPopup .popupCross {
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    cursor: pointer; }
    @media (max-width: 550px) {
      .topPopup .popupCross {
        right: 3rem; } }
    .topPopup .popupCross div {
      width: 60%;
      height: 4px;
      background-color: white;
      border-radius: 2px; }
      .topPopup .popupCross div:first-of-type {
        transform: rotate(45deg) translateX(3px); }
      .topPopup .popupCross div:last-of-type {
        transform: rotate(-45deg) translateX(3px); }

.makeCross {
  display: flex;
  justify-content: center;
  transition: all 0.2s ease-in-out; }
  .makeCross > :nth-child(1) {
    transform: rotate(45deg); }
  .makeCross > :nth-child(2) {
    transform: rotate(-45deg) translateX(2px); }

main {
  width: 100%;
  height: auto;
  margin: 2rem 0 6rem; }

.container {
  width: 95%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  max-width: 117rem; }

.sectionText {
  margin: 1.5rem 0;
  padding: 2rem 2rem 0;
  background-color: white;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start; }
  @media (max-width: 550px) {
    .sectionText {
      padding: 2rem 0 0; } }
  .sectionText h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    color: #3c3c3c;
    text-transform: uppercase;
    text-align: left; }
  .sectionText p {
    margin-top: 1.5rem;
    font-size: 1.55rem;
    color: black;
    line-height: 1.9; }
  .sectionText .productsTable {
    margin-top: 3rem; }

.productListingCat {
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between; }
  .productListingCat__categories {
    width: 26%; }
    @media (max-width: 760px) {
      .productListingCat__categories {
        width: 100%; } }
    .productListingCat__categories h2 {
      text-align: left;
      padding: 1.5rem 2rem;
      font-family: 'Oswald', sans-serif;
      font-size: 1.8rem;
      letter-spacing: 1px;
      font-weight: bold;
      color: #000; }
    .productListingCat__categories li {
      border-top: 1px solid #d0d0d0;
      padding: 1rem 0;
      padding-left: 5rem;
      font-size: 1.6rem;
      position: relative; }
      .productListingCat__categories li:last-of-type {
        border-bottom: 1px solid #d0d0d0; }
      .productListingCat__categories li a {
        padding: 0.4rem;
        display: inline-block; }
        .productListingCat__categories li a:hover {
          cursor: pointer;
          text-decoration: underline; }
    .productListingCat__categories li.activeLiCat:after {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 5px;
      height: 1.6rem;
      background-color: #f15e33; }
  .productListingCat__listingAll {
    width: 72%; }
    @media (max-width: 760px) {
      .productListingCat__listingAll {
        width: 100%;
        padding: 1rem 1.5rem; } }
    .productListingCat__listingAll__products {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: flex-start; }
      .productListingCat__listingAll__products .product {
        border: 1px solid #d0d0d0;
        width: 33.33%;
        margin: 0; }
        @media (max-width: 650px) {
          .productListingCat__listingAll__products .product {
            width: 50%; } }
        @media (max-width: 450px) {
          .productListingCat__listingAll__products .product {
            width: 100%; } }
        @media (max-width: 650px) {
          .productListingCat__listingAll__products .product:nth-child(2n) {
            border-left: none; }
          .productListingCat__listingAll__products .product:nth-child(n+3) {
            border-top: none; } }
        @media (max-width: 450px) {
          .productListingCat__listingAll__products .product:nth-child(2n) {
            border-left: 1px solid #d0d0d0; } }
        @media (min-width: 650px) {
          .productListingCat__listingAll__products .product:nth-child(3n+2) {
            border-right: none;
            border-left: none; }
          .productListingCat__listingAll__products .product:nth-child(n+4) {
            border-top: none; } }

.sectionProductText {
  background-color: white;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin: 1.5rem 0;
  padding-bottom: 2rem; }
  .sectionProductText .sectionText {
    margin-bottom: 0; }
    .sectionProductText .sectionText p {
      line-height: 1.9;
      max-width: 110rem; }

.productListingDetail {
  flex-flow: column;
  background-color: white;
  padding: 1.5rem; }
  .productListingDetail__productBox {
    border: 1px solid #d0d0d0;
    margin: 0.5rem 0;
    display: flex; }
    @media (max-width: 550px) {
      .productListingDetail__productBox {
        flex-flow: column;
        justify-content: space-between;
        align-items: center; } }
    .productListingDetail__productBox .product {
      width: 22%;
      margin: 0; }
      @media (max-width: 1000px) {
        .productListingDetail__productBox .product {
          width: 25%; } }
      @media (max-width: 760px) {
        .productListingDetail__productBox .product {
          width: 30%; } }
      @media (max-width: 650px) {
        .productListingDetail__productBox .product {
          width: 35%; } }
      @media (max-width: 550px) {
        .productListingDetail__productBox .product {
          width: 55%; } }
      @media (max-width: 400px) {
        .productListingDetail__productBox .product {
          width: 75%; } }
      .productListingDetail__productBox .product .btn.btn--leftDig {
        align-self: flex-start; }
        @media (max-width: 550px) {
          .productListingDetail__productBox .product .btn.btn--leftDig {
            align-self: center; } }
      .productListingDetail__productBox .product__content {
        width: 80%; }
      .productListingDetail__productBox .product .btn.btn--darkBlue {
        margin-top: 0;
        padding: 1.5rem 0; }
      .productListingDetail__productBox .product > picture img {
        height: 9rem; }
        @media (max-width: 550px) {
          .productListingDetail__productBox .product > picture img {
            height: 11rem; } }
    .productListingDetail__productBox .sectionText {
      width: 78%;
      padding-left: 1rem; }
      @media (max-width: 1000px) {
        .productListingDetail__productBox .sectionText {
          width: 75%; } }
      @media (max-width: 760px) {
        .productListingDetail__productBox .sectionText {
          width: 70%; } }
      @media (max-width: 650px) {
        .productListingDetail__productBox .sectionText {
          width: 65%; } }
      @media (max-width: 550px) {
        .productListingDetail__productBox .sectionText {
          width: 95%; } }
      .productListingDetail__productBox .sectionText h1 {
        font-weight: normal; }

.productsListing2 {
  flex-flow: row wrap;
  padding: 1.5rem; }
  .productsListing2 .product {
    width: 25%;
    margin: 0;
    border: 1px solid #d0d0d0;
    border-right: none; }
    .productsListing2 .product:last-of-type {
      border-right: 1px solid #d0d0d0; }
    @media (max-width: 1000px) {
      .productsListing2 .product {
        width: 33.333%; }
        .productsListing2 .product:nth-of-type(3n) {
          border-right: 1px solid #d0d0d0; } }
    @media (max-width: 700px) {
      .productsListing2 .product {
        width: 50%; }
        .productsListing2 .product:nth-of-type(3n) {
          border-right: none; }
        .productsListing2 .product:nth-of-type(2n) {
          border-right: 1px solid #d0d0d0; }
        .productsListing2 .product:nth-of-type(n+3) {
          border-top: none; } }
    @media (max-width: 450px) {
      .productsListing2 .product {
        width: 100%;
        margin: 1rem 0;
        border-right: 1px solid #d0d0d0; }
        .productsListing2 .product:nth-of-type(3n) {
          border-right: 1px solid #d0d0d0; }
        .productsListing2 .product:nth-of-type(2n) {
          border-right: 1px solid #d0d0d0; }
        .productsListing2 .product:nth-of-type(n+2) {
          border-top: 1px solid #d0d0d0; } }
    .productsListing2 .product .btn.btn--darkBlue {
      margin: 2rem 0 1.5rem;
      width: 65%; }

.sectionBigBoxes {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 760px) {
    .sectionBigBoxes {
      flex-flow: column; } }
  .sectionBigBoxes > div {
    height: 23rem;
    width: 48%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    @media (max-width: 760px) {
      .sectionBigBoxes > div {
        width: 95%;
        margin: 1rem 0;
        height: 30rem; } }
    @media (max-width: 450px) {
      .sectionBigBoxes > div {
        height: 20rem;
        display: flex;
        align-items: center;
        justify-content: center; } }
    .sectionBigBoxes > div:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(22, 19, 33, 0.58); }
  .sectionBigBoxes .content {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 38%;
    min-width: 21rem; }
    .sectionBigBoxes .content h2 {
      font-size: 3.3rem;
      color: #fff;
      font-weight: bold;
      z-index: 1; }
    .sectionBigBoxes .content .btn {
      z-index: 1; }
  .sectionBigBoxes .boxLeft {
    border: 1px solid black;
    background-image: url("../../img/bg1.jpg"); }
  .sectionBigBoxes .boxRight {
    background-image: url("../../img/bg2.jpg");
    background-position: left;
    background-size: contain;
    text-align: center;
    display: flex;
    justify-content: flex-end; }
    @media (max-width: 450px) {
      .sectionBigBoxes .boxRight {
        justify-content: center;
        background-position: center; } }
    .sectionBigBoxes .boxRight h2 {
      font-size: 3rem; }

.simpleProductsListing {
  flex-flow: row wrap; }
  .simpleProductsListing .product {
    margin: 0;
    width: 20%;
    border: 1px solid #d0d0d0;
    border-right: none; }
    .simpleProductsListing .product:last-of-type {
      border-right: 1px solid #d0d0d0; }
    @media (max-width: 900px) {
      .simpleProductsListing .product {
        width: 33.333%; }
        .simpleProductsListing .product:nth-of-type(3n) {
          border-right: 1px solid #d0d0d0; } }
    @media (max-width: 600px) {
      .simpleProductsListing .product {
        width: 50%; }
        .simpleProductsListing .product:nth-of-type(3n) {
          border-right: none; }
        .simpleProductsListing .product:nth-of-type(2n) {
          border-right: 1px solid #d0d0d0; }
        .simpleProductsListing .product:nth-of-type(n+3) {
          border-top: none; } }
    @media (max-width: 450px) {
      .simpleProductsListing .product {
        width: 100%;
        margin: 1rem 0;
        border-right: 1px solid #d0d0d0; }
        .simpleProductsListing .product:nth-of-type(3n) {
          border-right: 1px solid #d0d0d0; }
        .simpleProductsListing .product:nth-of-type(2n) {
          border-right: 1px solid #d0d0d0; }
        .simpleProductsListing .product:nth-of-type(n+2) {
          border-top: 1px solid #d0d0d0; } }
    .simpleProductsListing .product .btn {
      width: 80%; }

section, footer {
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

main > .container {
  margin: 0 auto;
  align-items: flex-start;
  flex-flow: column; }
  @media (max-width: 960px) {
    main > .container {
      flex-flow: column; } }

p a {
  color: #5f2d90;
  display: inline-block; }
  p a:hover {
    text-decoration: underline; }

.footer {
  background-color: #242424;
  min-height: 20px;
  color: #ffffff;
  font-size: 1.5rem; }
  .footer .container {
    margin: 0 auto;
    max-width: 105rem;
    width: 95%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0; }
    @media (max-width: 1200px) {
      .footer .container {
        max-width: 117rem; } }
  .footer p {
    display: flex;
    align-items: center; }
    @media (max-width: 600px) {
      .footer p {
        width: 100%;
        justify-content: center;
        padding: 1rem 0; } }
  .footer__socialMedia {
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%; }
    .footer__socialMedia h3 {
      font-size: 1.5rem; }
    .footer__socialMedia div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 2rem; }
      .footer__socialMedia div a {
        margin: 0 1rem; }
      @media (max-width: 900px) {
        .footer__socialMedia div {
          margin-left: 1rem; }
          .footer__socialMedia div h3 {
            font-size: 1.7rem; }
          .footer__socialMedia div a {
            margin: 0 0.8rem; } }
    @media (max-width: 600px) {
      .footer__socialMedia {
        width: 100%;
        justify-content: center;
        padding: 1rem 0; }
        .footer__socialMedia div {
          margin-left: 0; }
        .footer__socialMedia h3 {
          font-size: 2rem; }
        .footer__socialMedia a {
          margin: 0 1rem !important; } }
