//Colors

$color-darkest-blue:#000c1c;

$color-primary:#5f2d90;
$color-primary-light:#9570b9;
$color-primary-dark:#5f2d90;


$color-secondary:#2b9a56;
//$color-secondary-dark:#003371;
//$color-secondary-light:#3381e5;

$color-pink:#eb0175;


$color-bg-light:#e7f2c4;
$color-black-text:#121212;

$color-text-dark:#666666;
$color-white:#fff;
$color-gray-100: #f8f9fa;
$color-gray-200: #e9ecef;
$color-gray-300: #dee2e6;
$color-gray-400: #ced4da;
$color-gray-500: #adb5bd;
$color-gray-600: #6c757d;
$color-gray-700: #495057;
$color-gray-800: #343a40;
$color-gray-900: #212529;
$color-black:    #000;

$color-text-muted: #6c757d;




//Font Weights

$font-weight-light: 300;
$font-weight-normal:400;
$font-weight-bold:  700;
$font-weight-bolder:bolder;