.footer{

  background-color: #242424;
  min-height: 20px;
  color: #ffffff;
  font-size: 1.5rem;

  .container{
    margin: 0 auto;
    max-width: 105rem;
    width: 95%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 ;
    @media (max-width: 1200px) {
      max-width: 117rem;
    }

  }



  p{

    display: flex;
    align-items: center;


    @media (max-width: 600px) {
      width: 100%;
      justify-content: center;
      padding: 1rem 0;

    }

  }



  &__socialMedia{

    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;

    h3{
      font-size: 1.5rem;
    }
    div{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 2rem;
      a{
        margin: 0 1rem;
      }

      @media (max-width: 900px) {
        margin-left: 1rem;

        h3 {
          font-size: 1.7rem;
        }
        a{
          margin: 0 0.8rem;
        }
      }
    }

    @media (max-width: 600px) {
      width: 100%;
      justify-content: center;
      padding: 1rem 0;
      div{
        margin-left: 0;
      }
      h3 {
        font-size: 2rem;
      }

      a{
        margin: 0 1rem!important;
      }
    }



  }


}