.pageLocation{
  background-color: #ededed;
  padding: 1.5rem 0;

  .container{
    margin: 0 auto;
    align-items: flex-start;
    flex-flow: row;
    justify-content: flex-start;
  }

  font-size: 1.6rem;
  font-family: "Source Sans Pro",sans-serif;
  span{
    margin: 0 0.5rem;
  }

  a:hover{
    cursor: pointer;
  }
  a:last-of-type{
    font-weight: bold;
  }
}