.product{

  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 95%;
  margin: 1rem 1.2%;
  padding-bottom: 1.5rem;


  .btn.btn--leftDig{
    width: 85%;
    max-width: none;
    align-self: flex-end;
    padding-right: 1.5rem;
    text-align: right;


    @media (max-width: 900px) {
      width: 87%;
    }

  }

  .btn--rightDig{
    text-align: left!important;
  }




  &>a{
    margin-top: 1rem;

  }

    &>picture img{
    margin: 1.5rem 0;
    height: 13.3rem;
  }

  &__content{
    text-align: center;
    width: 90%;



    @media (max-width: 900px) {
      width: 95%;
    }


    h2{
      line-height: 1.3;
      font-weight: bold;
      font-size: 1.8rem;
      font-family: 'Oswald', sans-serif;
      color: #302e2e;

      a{
        padding: 0.4rem 0;
        &:hover{
          text-decoration: underline;
        }
      }
    }

    h3{
      font-size: 1.6rem;
      margin-top: 0.5rem;
    }

    p{
      font-size: 1.4rem;
      line-height: 1.3;
    }
    &__review{
      margin-top: 0.8rem;
    }

  }



  &__contentBig{

    width: 100%;
    h2,p{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    h2{
      height: 6rem;
      font-weight: normal;
      background-color: #e1e1e1;
    }

    p{
      height: 10rem;
      padding: 0 1rem;
      word-wrap: break-spaces;
      overflow-scrolling: touch;
      overflow-y: auto;
    }

    h3{
      background-color: #e1e1e1;
      height: 3rem;
      margin: 0;
    }

    &>div{
      padding: 1rem 0 0.5rem;
      background-color: #e1e1e1;
      margin: 0;
    }

  }

  .btn.btn--darkBlue{
   margin-top: 3rem;
    width: 100%;
    max-width: none;
  }


}
