.scrollTopButton{
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 5rem;
  height: 5rem;
  background-color: white;
  border-radius: 100%;
  border: 1px solid #cbcbcb;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;

  @media (max-width: 750px) {
    bottom: 1rem;
    right: 1rem;
  }
  img{
    width: 2rem;
    //height: 5rem;
  }

  &:hover,&:focus{
    box-shadow: 0 0 10px rgba(black,0.4);
    background-color: #f6f6f6;
    border: 1px solid #b4b4b4;

  }
}
